<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          {{name}}
      </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент КН-31:</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Гринчак Максим Юрійович</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Варіант: 4</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Меню
    </ion-title>
  </ion-toolbar>
</ion-header>