<!-- <app-my-header name="Лабораторна робота №1"></app-my-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Завдання</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Меню
    </ion-title>
  </ion-toolbar>
  <ion-text>
    <br>
    Розробити сервіс для вирішення наступної задачі: <br>
    Перевірте, чи є даний рядок анаграмою іншого рядка. <br>
    Букви початкового рядка використовуються одноразово і <br>
    враховується регістр літер. Примітка. Анаграма - переставлення <br>
    літер у слові, завдяки чому утворюється нове значення слова. <br>
    Наприклад рядок I am Lord Voldemort є анаграмою tom marVoLo rIddle
  </ion-text>
</ion-header>
